<div class="navbar-inner">
	<div class="container" style="width: auto; padding: 0 20px;">
	  <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
	  <a class="brand" href="/">Title</a>
	  <div class="nav-collapse collapse">
		  <ul class="nav select-{{route}}">
		    <li class="list"><a href="/">List</a></li>
		    <li class="conf"><a href="conf">Configuration</a></li>
		    <li class="about"><a href="about">About</a></li>
		  </ul>
		  <form id="login-form" class="navbar-form pull-right control-group {{showLogin}}">
			  <div class="input-append">
				  <input type="text" class="span2" />
				  <button type="submit" class="btn btn-success">Login</button>
				</div>
			</form>
			<div id="logout-form" class="pull-right {{showWelcome}}">
				<button class="btn btn-inverse">Logout</button>
			</div>
		</div>
	</div>
</div>