<a class="btn go-back btn-toggle-holes btn-mini btn-primary"><i class='icon-arrow-left icon-white'></i></a>
<h4 class="text-center">Sub list</h4>
<div class="holes-input">
	<button class="btn btn-success btn-add" type="button"><i class="icon-plus icon-white"></i></button>
	<input class="input-block-level" type="text" value="{{defaultValue}}"/>
</div>
<ul class="holes-list"></ul>