<div class="btn-group pull-right">
	<a class="btn btn-mini dropdown-toggle menu" data-toggle="dropdown" href="#" tabindex="-1"><span class="caret"></span></a>
	<ul class="dropdown-menu">
		<li class='open-video'><a href="#"><i class="icon-facetime-video"></i> open video</a></li>
		<li class="remove-video"><a href="#"><i class="icon-remove"></i> remove</a></li>
	</ul>
</div>
<span contenteditable="true" class="text">video {{index}}</span>