<div style="float:right; margin-top: 20px">
	<button class="btn btn-success btn-add-gc"><i class="icon-plus icon-white"></i> Add</button>
</div>
<h1>List</h1>
<ul class='thumbnails'></ul>
<!--
<p class='loading'>Loading...</p>
<p class='fallback'>No items</p>
-->